.NewSkillForm {
  border: solid orange;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.NewSkillForm > .button {
  background-color: green;
  border-radius: 10px;
  color: white;
}
